@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* Default size 16px hota hai. Isey 13px karne se poori website approx 80% scale-down ho jayegi */
  font-size: 12.5px; 
}

body {
  background-color: #070A0A;
  margin: 0;
}